<% include header.html %>
<% include sidenav.html %>

<div class="content">

  <div class="header">
    <h1 class="page-title">Add Paper</h1>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="well">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#add_paper_anchor" data-toggle="tab">Add Paper</a></li>
          <!--<li><a href="#add_question_anchor" data-toggle="tab">Add Question</a></li>-->
        </ul>
        <div id="myTabContent" class="tab-content">

          <!--添加试卷-->
          <div class="tab-pane active in" id="add_paper_anchor">
            <form id="tab">
              <label>试卷标题</label>
              <input type="text" id="paper_title" value="" class="input-xlarge">
              <label>试卷描述</label>
              <textarea id="paper_desc" value="" class="input-xlarge"></textarea>
              <div>
                <button id="add_paper" class="btn btn-primary">添加</button>
              </div>
            </form>
          </div>

      </div>

    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#add_paper").click(function() {
      var paper = {
        title: $("#paper_title").val(),
        desc: $("#paper_desc").val(),
      }
      $.ajax({
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        url: '/add_paper',
        data: JSON.stringify(paper),
        success: function(data) {
          console.log("试卷内容:", data)
          if (data.code == 0) {
            alert("试卷添加成功")
          }
          else {
            alert("试卷添加失败")
          }
        }
      })
      return false
    })
  })
</script>

<% include footer.html %>
