<% include header.html %>
<% include sidenav.html %>

<input type="hidden" id="paper_id" value="<%= data.paper_id %>">
<div class="content">

  <div class="header">
  <h1 class="page-title">Add Question</h1>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="well">
        <ul class="nav nav-tabs">
          <!--<li class="active"><a href="#add_paper_anchor" data-toggle="tab">Add Paper</a></li>-->
          <li class="active"><a href="#add_question_anchor" data-toggle="tab">Add Question</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">

          <!--添加题目-->
          <div class="tab-pane active in" id="add_question_anchor">
            <form id="tab2">
              <label>题干:</label>
              <textarea id="question_stem" value="" class="input-xlarge"></textarea>
              <label>A:</label>
              <input type="text" id="question_option1" class="input-xlarge">
              <label>B:</label>
              <input type="text" id="question_option2" class="input-xlarge">
              <label>C:</label>
              <input type="text" id="question_option3" class="input-xlarge">
              <label>D:</label>
              <input type="text" id="question_option4" class="input-xlarge">
              <label>正确答案:</label>
              <select name="" id="question_answer" class="input-xlarge">
                <option value="option1">A</option>
                <option value="option2">B</option>
                <option value="option3">C</option>
                <option value="option4">D</option>
              </select>
              <label>分值:</label>
              <input type="text" id="question_score" class="input-xlarge" value="3">
              <div>
                <button id="add_question" class="btn btn-primary">添加</button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#add_question").click(function() {
      var question = {
        stem: $("#question_stem").val(),
        option1: $("#question_option1").val(),
        option2: $("#question_option2").val(),
        option3: $("#question_option3").val(),
        option4: $("#question_option4").val(),
        answer: $("#question_answer").val(),
        score: $("#question_score").val(),
        paper_id: $("#paper_id").val(),
      }
      console.log(question)
//      $.ajax({
//        type: 'POST',
//        contentType: "application/json; charset=utf-8",
//        url: '/add_question',
//        data: JSON.stringify(question),
//        success: function(data) {
//          if (data.code == 0) {
//            alert("题目添加成功")
//            return
//          }
//          alert("题目添加失败")
//        }
//      })
      return false
    })
  })
</script>

<% include footer.html %>


