<% include header.html %>

  <div class="row-fluid">
  <div class="dialog">
    <div class="block">
      <p class="block-heading">Sign In</p>
      <div class="block-body">
        <form>
          <label>用户名</label>
          <input type="text" class="span12" id="username">
          <label>密码</label>
          <input type="password" class="span12" id="password">
          <a class="btn btn-primary pull-right" id="sign-in">登录</a>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#sign-in').click(function(){
      var user = {
        username: $('#username').val(),
        password: $('#password').val(),
      }
      $.ajax({
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        url: '/sign_in',
        data: JSON.stringify(user),
        success: function(data) {
          if (data.code == 0) {
            window.location.href = "/papers"
            return
          }
          alert("登录失败")
        }
      })
    })
  })
</script>


