<% include header.html %>
<% include sidenav.html %>


<input type="hidden" id="paper_id" value="<%= data.paper_id %>">
<div class="content">

		<div class="header">
				<h1 class="page-title">Question List</h1>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">

				<!--<div class="btn-toolbar">-->
					<!--<button class="btn btn-primary"><i class="icon-plus"></i> Add Paper</button>-->
				<!--</div>-->

				<div class="well">
					<table class="table">
						<thead>
						<tr>
							<th>题目id</th>
							<th>题干</th>
							<th>选项1</th>
							<th>选项2</th>
							<th>选项3</th>
							<th>选项4</th>
							<th>正确答案</th>
							<th>分值</th>
							<th>创建时间</th>
							<th>修改时间</th>
							<th>操作者</th>
							<th style="width: 16px;"></th>
						</tr>
						</thead>
						<tbody id="question_list">
						</tbody>
					</table>
				</div>
				<!--<div class="pagination">-->
					<!--<ul>-->
						<!--<li><a href="#">Prev</a></li>-->
						<!--<li><a href="#">1</a></li>-->
						<!--<li><a href="#">2</a></li>-->
						<!--<li><a href="#">3</a></li>-->
						<!--<li><a href="#">4</a></li>-->
						<!--<li><a href="#">Next</a></li>-->
					<!--</ul>-->
				<!--</div>-->

			</div>
		</div>
</div>

<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		console.log('--------')
		$.ajax({
			type: 'POST',
			dataType: 'json',
			contentType: "application/json; charset=utf-8",
			url: '/list_question',
			data: JSON.stringify({paper_id: $("#paper_id").val()}),
			success: function(result) {
				if (result.code == 0) {
					generateQuestionList(result.data)
					return
				}
				alert('获取试卷信息失败')
			}
		})
	})

	function generateQuestionList(questions) {
		var html = ''
		questions.forEach(function(question) {
			html += `<tr>
			<td>${question.id}</td>
			<td>${question.stem}</td>
			<td>${question.option1}</td>
			<td>${question.option2}</td>
			<td>${question.option3}</td>
			<td>${question.option4}</td>
			<td>${question.answer}</td>
			<td>${question.score}</td>
			<td>${question.created_time}</td>
			<td>${question.modified_time}</td>
			<td>${question.operator}</td>
			<td>
				<a href="get_question?id=${question.id}"><i class="icon-pencil"></i></a>
			</td>
		</tr>`
		})
		$("#question_list").html(html);
	}


</script>
<% include footer.html %>


